@import '../../assets/styles/settings.scss';

.select-network {
  @include themed() {
    border: 1px solid t($currency-input-border);
  }
  cursor: pointer;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 50px !important;
  margin-left: 24px;
}

.select-network:hover {
  @include themed() {
    color: t($text-important) !important;
    background-color: t($network-background);
  }
}
