.migrate {
  .card {
    padding: 2rem !important;
    // border: 1px solid #e6e8ec !important;
    box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
    margin: 1rem 0;
  }
}
