
.disappear
{
  display: none;
}
.defaultTable {
    color: #3f3d56;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    @include themed() {
        color: t($text-important);
      }

  .data-table__title {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    
  }

  .data-inner-table {
    width: 100%;
    border-spacing: 0px;
    .thead {
      opacity: 0.8;
      /* font-family: Poppins; */
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.86;
      letter-spacing: normal;
      text-align: center;
     
      font-size: 14px;
      padding-left: 0px;
      padding-right: 0px;
      .header-cell {
        @include themed() {
          color: t($text-secondary);
        }
        font-weight: 700;
        font-size: 1rem;
      }
      .tr {
        display: flex;
  justify-content: space-between;
  .th:hover
  {
    cursor: pointer;
  }
        .th:first-child {
          padding-left: 14px;
        }
        .th:last-child {
          padding-right: 14px;
        }
      }
    }
    .tbody
    {
      padding-left: 0px;
      padding-right: 0px;
        .tr
        {
          height: 96px;
          text-align: center;
          font-family: Poppins;
          font-size: 16px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;
         
          display: flex;
          align-items: center;
        
            .td:first-child {
                padding-left: 14px;
              }
              .td:last-child {
                padding-right: 14px;
              }

        }
        .tr:hover
        {
          cursor: pointer;
        }
        .tr:nth-child(odd) {
            background: #FFF5F4 50%;
            box-shadow: 0px 4px 34px -12px #DDBBE0;
            border-radius: 6px;
          }
          .tr:nth-child(even)
          {
            background: #FFF5F4;
            box-shadow: 0px 4px 34px -12px #DDBBE0;
            border-radius: 6px;
          }
    }
  }
}

@media (max-width: 1024px) { 
    .defaultTable
    {
        .data-inner-table
        {
            .thead
            {
                display: none;
            }
            .tbody
            {
                .tr
                {
                    display: block;
                    height: auto !important;
                    margin-bottom: 30px;
                    .td
                    {
                      width: auto !important;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        border:1px solid;
                        @include themed() {
                        
                            border-color: t($text-important--light);
                          }
                    }
                    .td:before
                    {
                        content: attr(data-label);
                        float: left;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
@media (max-width:425px)
{
  .defaultTable
  {
    .data-inner-table
    {
      .tbody
      {
        padding-left: 0px;
        padding-right: 0px;
      }
    
    }
  }
}